[submodule "projects/game-of-life"]
	path = projects/game-of-life
	url = https://github.com/julesbou/game-of-life.git
[submodule "assets/libs/normalize.css"]
	path = assets/libs/normalize.css
	url = https://github.com/necolas/normalize.css.git
