html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  color: #777;
}

.root {
  overflow: hidden;
  min-height: 100%;
}

main {
  overflow: auto;
  width: 600px;
  margin: 250px auto 0;
  margin-bottom: 40px;
}

h1, h2, h3, p, ul, header, footer {
  box-sizing: border-box;
  max-width: 620px;
  font-size: 1em;
  line-height: 1.5em;
}

a, a:visited {
  color: #008cdd;
  text-decoration: none;
}

a:hover {
  color: #008cdd;
  text-decoration: underline;
}


@media (min-width: 701px) {
  .header {
    margin-bottom: 36px;
    text-align: justify;
    margin: 0 auto;
    max-width: 610px;
    min-width: 296px;
    width: 100%;
    position: relative;
    line-height: 170%;
    font-size: 17px;
    margin-bottom: 85px;

    .header-rotated {
      transform: rotate(-16.4deg);
      top: 120px;
      right: e("calc(-100% + 610px)");
      right: e("-moz-calc(-100% + 610px)");
      right: e("-webkit-calc(-100% + 610px)");
      position: relative;
      width: 600px;
      margin-bottom: 0;
      z-index: -1;
    }
  }

  .header-geometry-top {
    background: #ffb900;
    width: 2750px;
    height: 500px;
    right: 0;
    top: -500px;
    position: absolute;
    display: inline-block;
  }

  .header-geometry-right {
    color: #303841;
    width: 1000px;
    height: 2700px;
    background: #002b36;
    right: -1000px;
    top: 0px;
    position: absolute;
    z-index: -1;
  }
}

img {
  border-radius: 2px;
  float: right;
  margin: 0;
  padding-left: 12px;
  max-width: 25%;
}

p {
  margin: 0 0 12px 0;
  word-spacing: 2px;
}

h2 {
  color: #c06a0b;
  margin-top: 24px;
  font-style: italic;
  font-size: 18px;
}

// clients list
ul {
  padding: 0;
  max-width: 80%;

  &.vertical {
    li {
      list-style-type: none;

      &:before {
        content: '•';
      }

      a {
        margin-left: 8px;
      }
    }
  }

  &.horizontal {
    li {
      display: inline-block;
      list-style-type: none;

      &:not(:last-child):after {
        content: '•';
        margin-right: 4px;
      }

      a {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 700px) {
  body {
    padding: 20px;
    box-sizing: border-box;
  }

  main {
    width: 100%;
    margin-top: 0;

    ul li {
      list-style-type: disc;
      display: block;

      &:not(:last-child):after { content: ''; }
    }
  }

  .picture-me {
    width: 100px;
  }

  .header h1 {
    color: #4d9c96;
    font-size: 150%;
  }

  .header-geometry-top, .header-geometry-right {
    display: none;
  }
}

@media (min-width: 701px) {
  article {
    padding: 0 20px;
  }
}

article {
  font-family: Inter, -apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
  max-width: 980px;
  margin: 0 auto 80px;
  color: #333;
  line-height: 1.25;

  header {
    text-align: center;
    margin: 20px auto 40px;

    h1 {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    time {
      font-size: 14px;
      opacity: .8;
    }
  }

  p {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin: 0 0 30px 0;
    text-align: justify;
  }

  hr {
    margin: 50px 10px;
  }

  .history {
    margin-top: 120px;
    text-align: right;
    font-size: 90%;
  }
}

@import (inline) url(https://fonts.googleapis.com/css?family=Exo+2:500,600);
@import (inline) url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
