body {
  text-align: center;
}

.wrapper {
  margin: 20px auto;
  max-width: 480px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
}

li {
  max-width: 100%;
  margin: 0;
  padding: 8px;
  border: 1px solid #AAA;
  background-color: #EFEFEF;
  position: relative;

  top: 200px;
  opacity: 0;
  margin-bottom: 80px;
  transition: top .8s ease .4s, opacity 1.8s ease .4s, margin .8s ease .4s;
}

section {
  width: 100%;
  position: absolute;

  opacity: 0;
  -webkit-transition: opacity .4s ease-out, -webkit-transform 1s ease;
  -moz-transition: opacity .4s ease-out, -moz-transform 1s ease;
  -o-transition: opacity .4s ease-out, -o-transform 1s ease;
  transition: opacity .4s ease-out, transform 1s ease;
}

section.current {
  opacity: 100;
}

section.current li {
  top: 0;
  opacity: 100;
  margin-bottom: 20px;
}

.level-0 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.level-0.current {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.level-1 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.current ~ .level-1 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.level-1.current {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.level-2.current {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.current ~ .level-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
